# DataDisc v2 NRF5340 board configuration

# Copyright (c) 2020-2022 Griffin Adams
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF5340_CPUAPP_QKAA

config BOARD_DATADISC_NRF5340_CPUAPP
	bool "DataDisc v2 nRF5340 Application MCU"

endif # SOC_NRF5340_CPUAPP_QKAA

config BOARD_DATADISC_NRF5340_CPUNET
	bool "DataDisc v2 NRF5340 Network MCU"
	depends on SOC_NRF5340_CPUNET_QKAA
